<!--<ng-content></ng-content>
 <p
  [ngClass]="{'active': valor, 'disabled':!valor}"
  [ngStyle]="{'height': altura}"
>
  NgClass
</p>

<hr>

<input [(ngModel)]="nome">{{nome}}
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.nome}}</li>
<ng-template ngFor let-item [ngForOf]="list">
  <p>
    {{item.nome}}
  </p>
</ng-template>
<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>


<ng-content></ng-content>-->

<input [(ngModel)]="nome">{{nome}}
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.nome | uppercase}}</li>
<li *ngFor="let item of list">{{data | date:'dd/mm/yy'}}</li>
